<div style="padding: 8px 16px;">
    <div style="display: flex; align-items: center;">
        <h3 *ngIf="!algorithmId">New Algorithm will be available at:</h3>
        <h3 *ngIf="algorithmId">Algorithm available at:</h3>
        <button mat-raised-button style="margin-left: 16px;" [disabled]="!name" (click)="copy()">
            {{getPath()}}
            <mat-icon>content_copy</mat-icon>
        </button>
        <div style="flex-grow: 1;"></div>
        <button mat-raised-button [matMenuTriggerFor]="deleteMenu">
            Actions
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #deleteMenu="matMenu">
            <button mat-menu-item (click)="delete()" [disabled]="!algorithmId">
                <span>Delete Algorithm</span>
            </button>
        </mat-menu>
    </div>
    <div style="display: flex; gap: 16px; margin: 16px 0;">
        <div style="max-width: 200px;">
            <mat-form-field class="w-100" style="margin-bottom: -23px;">
                <mat-label>Algorithm Name</mat-label>
                <input autocomplete="off" matInput [(ngModel)]="name" name="name">
            </mat-form-field>
        </div>
        <div style="flex-grow: 1;">
            <mat-form-field class="w-100" style="margin-bottom: -23px;">
                <mat-label>Algorithm Description</mat-label>
                <input autocomplete="off" matInput [(ngModel)]="description" name="description">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" style="height: 56px;" (click)="save()">
                Save Changes
            </button>
        </div>
    </div>
    <div style="display: flex; gap: 16px; align-items: center;">
        <div>
            <mat-form-field class="w-100" style="margin-bottom: -23px;">
                <mat-label>Max Item Weight</mat-label>
                <input type="number" autocomplete="off" matInput [(ngModel)]="maxItemWeight" name="maxItemWeight">
            </mat-form-field>
        </div>
        <div style="flex: 1;"></div>

        <channel-search style="flex-grow: 1; max-width: 600px;" (itemSelect)="addChannel($event)"></channel-search>
        <playlist-search style="flex-grow: 1; max-width: 600px;" (itemSelect)="addPlaylist($event)"></playlist-search>
        <div style="flex: 1;"></div>
        <div>
            <button mat-raised-button [matMenuTriggerFor]="selectedMenu" [disabled]="!getSelectedCount()">
                {{getSelectedCount()}} selected
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #selectedMenu="matMenu">
                <button mat-menu-item (click)="removeSelected()">Remove</button>
                <button mat-menu-item [matMenuTriggerFor]="folderMenu">Move to Folder</button>
            </mat-menu>
            <mat-menu #folderMenu="matMenu">
                <ng-container *ngFor="let folder of folders">
                    <button mat-menu-item (click)="addToFolder(folder)"><mat-icon>folder</mat-icon> {{folder.name}}</button>
                </ng-container>
                <button mat-menu-item (click)="addToFolder()"><mat-icon>add</mat-icon> new folder</button>
            </mat-menu>
        </div>
    </div>


    <table #table mat-table [dataSource]="tableRows" class="mat-elevation-z8" style="margin-top: 16px;">

        <ng-container matColumnDef="folder">
            <th mat-header-cell *matHeaderCellDef>
                <span [style.paddingLeft.px]="48"> Folder </span>
            </th>
            <td mat-cell *matCellDef="let item">
                <div style="display: flex; align-items: center;" *ngIf="isFolder(item)">
                    <button mat-icon-button (click)="toggleExpanded(item)">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{item.isExpanded ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <div>
                        {{item.name}}
                    </div>
                </div>
                <small class="text-muted" *ngIf="!isFolder(item) && !item.folderName" [style.paddingLeft.px]="48">(root)</small>
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let item"> 
                {{getTypeName(item)}}
            </td>
        </ng-container>


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let item"> {{item.name}} </td>
        </ng-container>

        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> Count </th>
            <td mat-cell *matCellDef="let item"> {{item.videoCount}} </td>
        </ng-container>

        <ng-container matColumnDef="weightMultiplier">
            <th mat-header-cell *matHeaderCellDef>
                Weight Multiplier
                <mat-icon style="color: #aaa; margin: -6px 0 -6px 4px"
                    matTooltip="Set this to a number between 0 & 1 to reduce the weight, or set it to a higher number to increase the weight">info</mat-icon>
            </th>
            <td mat-cell *matCellDef="let item">
                <input *ngIf="!isFolder(item)" type="number" [(ngModel)]="item.weightMultiplier">
            </td>
        </ng-container>
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>
                Calculated Weight
                <mat-icon style="color: #aaa; margin: -6px 0 -6px 4px"
                    matTooltip="The weight is merely used to determine the percent of algorithm">info</mat-icon>
            </th>
            <td mat-cell *matCellDef="let item">
                {{getWeight(item)}}
                <mat-icon *ngIf="!isFolder(item) && isGuess(item)" style="color: #aaa; margin: -6px 0 -6px 4px"
                    matTooltip="This is assuming the channel has precisely 100 videos. We won't know until we scrape">warning</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="percent">
            <th mat-header-cell *matHeaderCellDef>
                % of Algorithm
                <mat-icon style="color: #aaa; margin: -6px 0 -6px 4px"
                    matTooltip="On average, the algorithm will recommend videos in accordance with this percentage">info</mat-icon>
            </th>
            <td mat-cell *matCellDef="let item">
                {{getPercent(item)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null" color="primary" [checked]="isAllSelected()"
                    [indeterminate]="!isAllSelected() && !isNoneSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let item">
                <mat-checkbox (change)="$event ? toggleSelected(item) : null" color="primary" [checked]="item.selected"
                    [indeterminate]="item.selected == null">
                </mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <hr>
</div>