﻿@{
@model MyVidious.Models.Admin.LoadAlgorithmResult;
}
<!DOCTYPE html>
<html>
<head>
    <title>MyVidious</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        small {
            color: #888;
        }
        td {
            padding: 12px 16px;
        }
        th {
            padding: 8px 16px;
        }
        table {
            border-collapse: collapse;
            text-align: left;
        }
        tr {
            border-bottom: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <h1>MyVidious</h1>
    <p>This is the API for the @Model.Username/@Model.AlgorithmName algorithm. You can enter the current url into Invidious clients like Yattee (ios), Clipious (Android), or FreeTube (Desktop)</p>
    @if (!string.IsNullOrEmpty(Model.Description))
    {        
        <small>Description</small>
        <p>@Model.Description</p>
    }
    <table style="margin-top: 16px;">
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Videos</th>
            <th>% of Algorithm</th>
            <th></th>
        </tr>
        @foreach (var item in Model.AlgorithmItems)
        {
            
            double percentage = Math.Round(item.EstimatedWeight / Model.EstimatedSumWeight * 100, 1);
            <tr>
                <td>
                    @if (item.ChannelId.HasValue)
                    {
                        <span>Channel</span>
                    } else
                    {
                        <span>Playlist</span>
                    }
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.VideoCount
                </td>
                <td>
                    @percentage %
                </td>
                <td>
                    @if (item.FailureCount > 0)
                    {
                        <span>error scraping videos</span>
                    }
                </td>
            </tr>
        }
    </table>
    @if (Model.AlgorithmItems.Count() == 0)
    {
        <p>No Channels in Algorithm</p>
    }
</body>
</html>