﻿@{
@model MyVidious.Models.Admin.LoadAlgorithmResult;
}
<!DOCTYPE html>
<html>
<head>
    <title>MyVidious</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        small {
            color: #888;
        }
    </style>
</head>
<body>
    <h1>MyVidious</h1>
    <p>This is the API for the @Model.Username/@Model.AlgorithmName algorithm. You can enter the current url into Invidious clients like Yattee (ios), Clipious (Android), or FreeTube (Desktop)</p>
    <small>Description</small>
    <p>@Model.Description</p>
    <small>Channels in Algorithm</small>
    <ul>
        @foreach (var item in Model.AlgorithmItems)
        {
            <li>@item.Name</li>
        }
    </ul>
    @if (Model.AlgorithmItems.Count() == 0)
    {
        <p>No Channels in Algorithm</p>
    }
</body>
</html>