﻿@{
}
<!DOCTYPE html>
<html>
<head>
    <title>MyVidious</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1>MyVidious</h1>
    <p>This is the right path structure for an algorithm, but no such algorithm was found</p>
    <p><a href="/admin">admin</a> page</p>
</body>
</html>