<div style="height: 48px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #eee; padding: 0 12px;">
    <a style="margin: 0; cursor: pointer; font-size: 24px; color: black;" [routerLink]="['/dashboard']">MyVidious Admin</a>
    <div *ngIf="userInfo">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color">person</mat-icon>
            {{userInfo.username}}
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>{{userInfo.isAdmin ? 'Head Admin' : 'User'}}</button>
        <button mat-menu-item disabled>Change Password</button>
        <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</div>